<div>
    <p>
        Hey <%= user.name %>!
    </p>
    <p>
        You are receiving this because a password reset has been requested on your account.
        If you are the one that requested this reset please click this link to reset your password.
    </p>
    <p>
        <a href="<%= link %>">Reset Password</a>
    </p>
    <p>
        If you did not request for your password to be reset, just disregard this email and
        continue on with your life.
    </p>
</div>
