<div>
    <p>
        Hey <%= user.name %>!
    </p>
    <p>
        Your account has been created but is not active yet.
        Click the link below to set your password and activate your account
    </p>
    <p>
        <a href="<%= link %>">Activate Account</a>
    </p>
</div>
