<div>
    <p>
        Hey <%= user.name %>!
    </p>
    <p>
        Your password has been changed. If you did not perform this reset please change your
        password as soon as possible to ensure you do not lose access to your account.
    </p>
</div>
